@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #12051E;

}
h3,
p {
  color: #12051E;
  line-height: 1.7em;
}


h2,
h1
{
  color: rgb(255, 255, 255);
  line-height: 1.7em;
}
h4
{
  color: #12051E;
}

h6
{
  color: #12051E;
  text-shadow: 2px 2px 4px #2e072b;
  font-size: 1.2vw;
}
h4
{
  color: #ffffff;
}

/*navbar*/




nav {
  position: left;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
}

nav ul {
  margin: 0;
  list-style: none;
  position: relative;
  display: table;
  margin: 0 auto;
}

nav ul li a {
  padding: 50px 50px;
  display: block;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
  color: #8E5BB6;
}

.active_nav{
  
  border-bottom: 3px solid #8E5BB6;
}



.header-main {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #12051E;
}


.brand-wrap {
  text-decoration: none !important
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px
}

.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative
}

.widget-header .notify {
  position: absolute;
  top: -3px;
  right: -10px
}

.notify {
  position: absolute;
  top: -4px;
  right: -10px;
  display: inline-block;
  padding: .25em .6em;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: rgb(59, 18, 65);

}


.mr-3,
.mx-3 {
  margin-right: 1rem !important
}

.search-form {
  border: 1px solid #ffffff !important
}

.search-button {
  color: white;
  background-color: #ffffff;
  border-color: #ffffff
}

.navbar-main {
  background-color: #210E37;
  behavior: 'smooth';

}


.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1) !important
}

.navbar-toggler {
  padding: 4px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.37rem
}


.navbar-toggler-icon {
  background-image: url(https://img.icons8.com/ios/50/000000/menu.png)

}

.login {
  color: white;
}

.vl {
  margin-right: 9rem !important;
  height: 100%;
  }
/*carousel*/

  
  .carousel-item {
    height: 80vh;
    width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
/*sticky bar */

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
} 
/* 


#side .nav-link.active,
#side .nav-link:hover,
#side .nav-link:focus{
  color: #111;
  border-bottom: 3px solid #6C43BF;
 
} */



  /* buton*/
  .btn3 {
    transition-duration: 0.4s;
    background-color: #12051E;
  border-color: #ffa500;
  width: 100px;
  height: 30px;
  transform: skew(10deg);
  color: #f9ffff;
  }
  .btn3:hover {
    background-color: #12051E; 
    color: #ffa500;
  }
  .btn2 {
    transition-duration: 0.4s;
    background-color: #12051E;
  border-color: #ffa500;
  width: 600px;
  height: 66px;
  transform: skew(10deg);
  color: #f9ffff;
  }
  .btn2:hover {
    background-color: #12051E; 
    color: #ffa500;
  }
/*video-thumbnail*/

.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 30px;
}
.video-thumbnail:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "ï€";
  font-family: FontAwesome;
  font-size: 70px;
  color: #fff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.video-thumbnail:hover:before {
  color: rgb(214, 210, 210);
}





/*carousel films*/


.card{
background:#a597b3;

  margin-bottom: 8rem;
  width: 100%;
  height: 80% ;
  box-shadow: 3px 3px 5px;
}


/* Footer */

hr{
  border: 1px solid ;
  color: #bbb;
}
footer {
  padding-top: 30px;
  background:#0b0313;
  color: #bbb;

}

footer a {
  color: rgb(204, 193, 193);
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color:#6C43BF;
  text-decoration:none;
  
}

footer .form-control {
    background-color: #000000;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: none;
    resize: none;
    color: #f9ffff;
    padding: 0.7em 1em;
}
input[type="checkbox"]{
  outline:2px solid #6C43BF;
  outline-offset: -2px;
}


 
.btn1 {
  transition-duration: 0.4s;
background-color: #12051E;
border-color: #ffa500;
width: 70px;
height: 33px;
transform: skew(10deg);
color: #f9ffff;
}
.btn1:hover {
  background-color: #ffd900; 
  color: #f9ffff;
  width: 70px;
height: 33px;
}
  /* Footer on small screens */
  @media (max-width: 34em) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 700px;
    }
  }

  /* Pop-up */

  #cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu ul li.header {
  background: #222;
  color: white;
  font-size: 120%;
  padding: 5px
}

#expander {
  position: fixed;
  top: 160px;
  left: -31px;
  transform: rotate(90deg);
  transition: .2s background ease;
}

#expander:hover {
  background: #222;
  color: white;
}

#cssmenu,
#expander {
  z-index: 1029;
}

#unexpander > a {
  background: lightgray !important;
  color: black !important;
}

#unexpander > li > a {
  background: lightgray !important;
  color: black !important;
}

#cssmenu {
  width: 250px;
  color: #ffffff;
  position: fixed;
  left: -250px;
  top: 120px;
  z-index: 10000;
  background: #222;
}

@media screen and (max-width: 600px) {
  #expander {
    top: 160px
  }
  #cssmenu.expanded {
    width: 100%;
  }
}

#cssmenu ul ul {
  display: none;
}

.align-right {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  text-overflow: ellipsis;
  background: #444;
  transition: .1s all;
}

#cssmenu > ul > li > a:hover {
  color: #eeeeee;
  background: dimgrey;
}

#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  background: #000;
}

#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #000;
}

a.breakpoint {
  height: 0 !important
}